:root{
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-accent-400: hsl(142, 90%, 61%);
}

/* *,*::before,*::after{
    box-sizing: border-box;
} */

body{
    display: grid;
    min-height: 100vh;
    place-items: centre;
    line-height: 1.6;
    background: var(--clr-neutral-900);
    font-family: sans-serif;
    padding-right: 15em;
}

.cardForm{
    color: var(--clr-neutral-100);
    background-image: url(https://picsum.photos/200/300);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    overflow: hidden;
    text-align: left;
    transition: transform 500ms ease;
}

.cardForm:hover,
.cardForm:focus-within{
    transform: scale(1.05);
}

.cardForm-content{
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(20 0% 0% / 0.3) 20%,
        hsl(0 0% 0% / 1)
    );
}

.cardForm-title{
    position: relative;
    width: max-content;
}

.cardForm-title::after{
    content: "";
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom: -2px;
    width: calc(100% + var(--padding));
    background: var(--clr-accent-400);

    transform-origin: left;
    transition: transform 500ms ease;
}

.cardForm:hover .cardForm-title::after,
.cardForm:focus-within .cardForm-title::after{
    transform: scaleX(1);
}

.cardForm-body{
    color: rgb(255 255 255 / 0.85);
    /* text-align: left; */
}

@media (hover){
    .cardForm-content{
        transform: translateY(65%);
        transition: transform 500ms ease;
    }
    
    .cardForm:hover .cardForm-content,
    .cardForm:focus-within .cardForm-content{
        transform: translateY(0);
        transition-delay: 250ms;
    }

    .cardForm:focus-within .cardForm-content{
        transition-duration: 0ms;
    }

    .cardForm-content > *:not(.cardForm-title){
        opacity: 0;
        transition: opacity 500ms linear;
    }

    .cardForm:hover .cardForm-content > *:not(.cardForm-title),
    .cardForm:focus-within .cardForm-content > *:not(.cardForm-title){
        opacity: 1;
        transition-delay: 250ms;
    }

    .cardForm-title::after{
        transform: scaleX(0);
    }
}

.buttonForm{
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent-400);
    padding: 0.4em 1.25em;
    margin-top: 0.75rem;
    border-radius: 0.25em;
}

.buttonForm:hover,
.buttonForm:focus{
    background-color: var(--clr-neutral-100);
}

@media (prefers-reduced-motions: reduce){
    *,
    *::before,
    *::after{
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition-delay: 0ms !important;
    }
}