.App {
    text-align: center;
  }
  *{
    box-sizing: border-box;
  }
  form{
    padding-top: 0;
    margin: 0;
  }
  /* body{
   background-image: url('./Drop.jpg');
   background-size: cover;
   background-attachment: fixed;
  } */
  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    /* width: 98.06vw; */
    height: 100vh;
    /* background-color: #eee; */
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url("https://picsum.photos/1920/1080/?random");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  body.noscroll{
    position:fixed;
    overflow:hidden;
  }
  .A,.B{
      width: 100vh;
      background-color: white;
      margin-left: 400px;
      margin-right: 400px;
      margin-top: 20px;
      padding-bottom: 40px;
      max-height: auto;
      /* opacity: 0.9; */
      padding-top: 0px;
      border-radius: 8px;
      /* border-top:100px solid rgb(245, 62, 6); */
  }
  .B{
     /* background-color: rgb(237, 239, 241);
      margin-left: 400px;
      margin-right: 400px;
      margin-top: 20px;
      padding-top: 0px;
      opacity: 0.7;
      max-height:auto;
      padding-bottom: 40px;
      border-radius: 8px; */
      border-top:20px solid rgb(25, 161, 214)
  
   }
   h2{
     background-color:rgb(25, 161, 214) ;
     margin: 0;
     padding:0;
   }
  input
  {
    border: 0px;
    outline:none;
    background-color:rgb(187, 186, 186);
    border-bottom: 2px solid grey;
    margin-top: 20px;
    width:620px;
    height: 50px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
  }
  input:focus{
    border-bottom:5px solid rgb(5, 48, 77) ;
    transition: 0.4s ;
  }
  .f{
    margin-top: 100px;
  }
  ::placeholder{
      color:black;
      padding-left: 20px;
  }
  