*{
    font-family: Helvetica;
}

.fmQuestionBox, .fmNameBox{
    /* border: 3px solid pink; */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    /* background-color: rgba(37, 37, 37, .8); */
    padding: 2% 0;
    margin-bottom: 5%;
    outline: none;
}


.quesHeading{
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1%;
    /* color: white; */
}

.incomingQuesHead{
    font-size: 1.7rem;
    margin-top: 1%;
    margin-bottom: 1%;
}

.incomingQuestion{
    text-align: left;
    font-size: 20px;
    padding: 1.5% 6.5% 1% 6.5%;
    margin: 1.5% 2%;
}

.quesInput, .fmInput{
    width: 85%;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 1.25% 4%;
    margin: 1.5% 2%;
    /* text-align: center; */
    /* border-color: transparent; */
}

.innerChoiceBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1%;
    /* border: 3px solid blanchedalmond; */
    /* width: fit-content; */
}

.choiceInput{
    background:rgb(255,145,0);
    border: none;
    border-radius: 50px;
    font-size: 16px;
    /* letter-spacing: 1px; */
    color: white;
    width: 40%;
    padding: 1.25% 4%;
    margin: 1.25% 2%;
    text-align: center;
    /* height: 100%; */
}

.quesInput:focus-within, .fmInput:focus-within, .choiceInput:focus-within{
    outline: none;
}

.quesInput::placeholder, .fmInput::placeholder{
    opacity: 0.7;
}
.choiceInput::placeholder{
    color: white;
    opacity: 0.7;
}

.choiceInputToggled{
    background:rgb(26,255,0);
}

.cursorP{
    cursor: pointer;
}