.C{
      background-color: white;
      margin-left: 400px;
      margin-right: 400px;
      margin-top: 20px;
      padding-top: 0px;
      /* opacity: 0.7; */
      max-height:auto;
      padding-bottom: 40px;
      border-radius: 8px;
      border-top:20px solid rgb(25, 161, 214);
      position:static;
      width: 100vh;
}
.bu{
  display: flex;
  flex-direction: column;
     position:fixed;
     top:50%;
     right: 3%;
}
.K{
  margin-top: 20px;
}
button{
    position: sticky;
    margin-top:50px;
    width:240px;
    background-color: yellowgreen;
    border-radius: 50px;
    height:40px;
}
button:hover{
    background-color: aqua;
}
.F{
  height:20px;
  float:left;
  margin-top: 30px;
  margin-left: 50px;
  }

.S{
    padding-left:10px;
    margin-right:400px;
    height: 40px;
    width: fit-content;
    border-radius: 50px;
}
